
 .button {
     background-color: #666666;
     border: none;
     color: white;
     padding: 10px 22px;
     text-align: center;
     display: block;
     /*font-family: 'Pompiere', cursive;*/
      font-family: 'Cairo', sans-serif;
     font-variant: small-caps;
     font-size: 25px;
     cursor: pointer;
     
 }
 .popup-button{
  background-color: #666666;
     border: none;
     color: white;
     padding: 10px 22px;
     text-align: center;
     display: inline-block;
     /*font-family: 'Pompiere', cursive;*/
      font-family: 'Cairo', sans-serif;
     font-variant: small-caps;
     font-size: 25px;
     cursor: pointer;
  
 }
 
 .button:active {
     opacity: 0.5;
 }
 
  .controls{
  display: inline-block;
   
 }
 
  .arrow-icon {
     width: 50px;
     height: 50px;
     margin-right: 10px;
     margin-left: 10px;
     
 }
 
 .action-icon {
     width: 20px;
     height: 20px;
     margin-right: 10px;
     margin-left: 10px;
     opacity: 0.5;
 }
 

 
 .edit{
     background: url("/images/Edit-icon.png");
 }
 
 .remove{
     background: url("/images/remove-icon.png");
 }
 
 .add-new {
     background-color: #fefb7a;
     color: #666666;
     display: inline-block;
     bottom: 20px;
 }
 
 .button:hover {
     box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
     transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s, filter 0.3s;
 }
 
 .form-button-submit:hover {
     color: greenyellow;
 }
 
 .form-button-reset:hover {
     color: #b3c6ff;
 }
 
 .form-button-cancel:hover {
     color: #ff8080;
 }